.LR_B {
  position: relative;
  top: 1vh;
  bottom: 1vh;
  left: 0vw;
  width: 30em;
  transform: translateX(-10vw);
  opacity: 0;
  transition: all 0.8s ease;
}

.LR_A{
  opacity: 1;
  transform: translate(0vw);
}
.RL_B {
  position: relative;
  top: 1vh;
  bottom: 1vh;
  right: 0vw;
  width: 30em;
  opacity: 0;
  transform: translateX(10vw);
  transition: all 0.8s ease;
}

.RL_A{
  opacity: 1;
  transform: translate(0vw);
}

.BT_B {
  position: relative;
  width: 30em;
  opacity: 0;
  transform: translatey(3vw);
  transition: all 0.8s ease;
}

.BT_A{
  opacity: 1;
  transform: translate(0vw);
}



.dido{
  background: blue;
}


